       
        h1 {
            color: rgb(204, 204, 255);
        }  
       p {
       color: rgb(255, 255, 255);
        }
        
        body {
            background-color: rgb(243, 186, 181);
        }
.banner {
            width: 600px;
}
.banner img {
            width: 100%;
}
.banner p {
            text-align: center;
}
            
        
