h1 {
            color: rgb(60, 179, 113);
        }  
        
        body {
            background-image: url("mybackground.jpg");
        }
.banner {
            width: 600px;
}
.banner img {
            width: 100%;
}
.banner p {
            text-align: center;
}
 h1 {
            color: rgb(204, 204, 255);
        }  
       p {
       color: rgb(255, 255, 255);
        }
#giuliana {
            float: left;
            width: 100px;
            margin: 6px;
}
