       
        h1 {
            color: rgb(204, 204, 255);
        }  
       p {
       color: rgb(255, 255, 255);
        }
        
        body {
            background-color: rgb(243, 186, 181);
        }
            
        
